header{
    height:320px;
    margin-top: 70px;
    background-image: url("../_img/wallpaperMenor.jpg");
    background-repeat: no-repeat;
    background-size: auto ;
    background-position: center center;
}

header h1 {
    font-size: 200%;
    padding-top: 340px; 
    color: #111;
    text-shadow: none;
}

nav {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 70px;
    background-color: #333;
    
}

nav h3 {
    font-size: 30px;
    top: -10px;
     
}
nav div#menu-btn {
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
nav ul#menu-desktop {
    display: none;
}
nav ul#menu-mobile {
    margin-top: 70px;
    padding: 0;
}
nav ul#menu-mobile li {
    display: block;
    width: 100%;
    list-style-type: none;
}
nav ul#menu-mobile li a {
    display: block;
    
    text-decoration: none;
    color: #fff;
    text-align: center;
    background-color: rgb(19, 204, 186);
    padding:20px 0 ;
    border-bottom: 1px solid #333;

    font-family: Robobo,sans-serif;
    font-size: 100%;
    letter-spacing: 0.6;
}

.sidebar {
    height: 100%;
    width: 0;
    font-family: "Lato", sans-serif;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    }
  
    .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
  
    .sidebar a:hover {
    color: #f1f1f1;
    }
  
    .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }


main {
    position: relative;
    top: 100px;
}

.button {
    margin-left: 35%;
}
.buttonContato {
    background-color: rgb(19, 204, 186);
    color: #fff;
    box-shadow: 0 0 10px #333
}

main section.trabalhos h3 {
    font-size: 150%;
}

#janela {
    position: relative;
    margin:100px auto 50px;
    width:90%;
    height:200px;
    border-radius: 5px;
    background-color:#FFF;
    padding-top: 10px;
}


#janela:before, #janela:after {
    position: absolute;
    left: 10px;
    top: 50%;
    bottom: 15px;
    width: 50%;
    background: #999;
    box-shadow: 0 15px 10px #999;
    transform:  rotate(-3deg);
    content: "";
    z-index: -1;
}
#janela:after{
    right: 10px;
    left: auto;
    transform: rotate(3deg);
}

main section#titulo h1 {
    font-family: Roboto, sans-serif;
    font-size: 150%;
    text-align: center;

  }
  main section#titulo h3 {
    font-family: Roboto, sans-serif;
    color: #666;
    font-size: 90%;
    text-align: center;

  }

 
  main section#contato form {
    margin: 0 5%;
  }
textarea#pedido {
    height: 150px;
}

  footer {
      top: 100px;
  }



